.navbar {
  display: flex;
  flex: 1;
}

.nav-list {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list a {
  padding: 0;
  text-decoration: none;
}

.nav-list a:hover {
  border: 1px solid gray;
  border-radius: 5%;
}

.nav-item {
  font-size: 14px;
  display: flex;
  flex: 1;
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px;
}
